@model AppMVC.Models.Produto

<h1>Criar Produto</h1>

<form asp-action="Create">
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <label asp-for="Name" class="control-label">Nome</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="control-label">Preço</label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label">Descrição</label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group mt-3 d-flex w-100 justify-content-center">
            <input type="submit" value="Criar" class="btn btn-primary w-50"/>
        </div>
    </div>
</form>
